@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

@font-face {
  src: url("https://www.axis-praxis.org/fonts/webfonts/MetaVariableDemo-Set.woff2")
    format("woff2");
  font-family: "Meta";
  font-style: normal;
  font-weight: normal;
}

.container {
  max-width: 1050px;
  margin: 0 auto;
}

/* Header.jsx */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

.navbar ul {
  list-style-type: none;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}


.nav-links a {
  text-decoration: none;
  color: #000;
}

.nav-links li {
  margin-right: 20px;
  margin-left: 20px;
}

/* Hero.jsx */

.hero-section {
  margin-top: 50px;
  max-width: 1050px;
  height: 700px;
  background-image: url(./assets/hero-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero-text {
  color: #fff;
  /* position: absolute; */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.hero-h3, #text {
  display: inline-block;
  font-size: 50px;
}

#text {
  font-size: 50px;  
  margin-bottom: 10px;
}

.hero-text-container {
  display: flex;
  align-items: center;
}

.hero-text p {
  font-size: 25px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.hidden {
  opacity: 0;
}

.hero-login-btn {
  border: 0.5px solid lightgreen;
  padding: 10px;
  border-radius: 15px;
  background-color: lightgreen;
  cursor: pointer;
  color: #000;
  text-decoration: none;
  text-shadow: none;
}

.hero-login-btn:hover {
  transition: 0.3s ease-in;
  background-color: white;
  color: #000;
}

.hero-login-btn {
  display: flex;
  align-items: center;
}


/* Hero2.jsx */

.hero2-section {
  position: relative;
  max-width: 1050px;
  max-height: 700px;
  margin: 0 auto;
  margin-top: 30px;
}

.video-div {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-div video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero2-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero2-text h3 {
  font-size: 50px;
  margin-bottom: 20px;
}

.exercise-btn {
  border: 0.5px solid brown;
  padding: 10px;
  border-radius: 15px;
  background-color: brown;
  cursor: pointer;
  color: #000;
  text-decoration: none;
  text-align: center;
  text-shadow: none;
}

.exercise-btn:hover {
  transition: 0.3s ease-in;
  background-color: ivory;
  color: #000;
}

.exercise-btn {
  display: flex;
  align-items: center;
}

/* Footer.jsx */
.footer {
  margin-top: 20px;
  max-width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

.footer-info p {
  margin-top: 10px;
}

.footer-nav-links, 
.footer-socials {
  list-style-type: none;
  text-align: center;
}

.footer-nav-links h5, 
.footer-socials h5 {
  margin-bottom: 10px;
}

.footer-nav-links li, 
.footer-socials li {
  margin-bottom: 10px;
}


.footer-nav-links a, 
.footer-socials a {
  text-decoration: none;
  color: #111;
}

.footer-nav-links a:hover {
  color: lightskyblue;
}

.footer-socials a:hover {
  color: lime;
}

.final-footer {
  text-align: center;
}

/* NotFoundPage.jsx */
.not-found-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.notFound-icon {
  color: orangered;
  font-size: 100px;
  margin-bottom: 40px;
}

.not-found-page h1 {
  font-size: 100px;
  font-weight: bold;
}

.not-found-page p {
  font-size: 60px;
}

/* Exercise Page */
.ex-div {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  align-items: center;
}
.ex-cardio-div {
  position: relative;
  max-width: 1050px;
  max-height: 400px;
  z-index: 0;
}

.ex-cardio-txt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  color: #fff;
}

/* MuscleGroup.jsx */
.mG-div {
  margin-top: 10px;
}

.mG-text {
  text-align: center;
}

.ex-links {
  text-decoration: none;
  color: #000;
}

/* Chest.jsx */
.chest-div {
  margin-top: 30px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.chest-ex-div {
  margin: 15px;
  border-radius: 10px;
  text-align: center;
  align-items: center;
}

.chest-ex-div h5 {
  font-family: monospace;
  font-size: 15px;
  font-weight: normal;
  border-radius: 10px;
}

.chest-ex-div img {
  border-radius: 10px;
}

.chest-ex-link {
  text-decoration: none;
  color: #000;
}

.ex-back-btn {
  margin-top: 10px;
  font-size: 15px;
  background-color: #fff;
  border: 0;
  display: block;
  margin-bottom: 20px;
}

.ex-back-btn:hover {
  border-bottom: 1px solid #000;
}

.ex-name {
  margin-bottom: 10px;
}

.ex-head-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.ex-head-div span {
  border-radius: 15px;
  padding: 0px 10px 0 10px;
  border: 0.5px solid lightgreen;
  background-color: lightgreen;
}

